<h2>Favourite wines for {{userName}}</h2>
<h3>Your favourite wine country is {{countryCount[0]?.country}}</h3>

<div class="d-flex justify-content-end align-items-center mt-4">
    <button class="btn btn-lg btn-success" [routerLink] = "['/home']">
        <span style="margin-right: 5px !important;">Home</span>
        <i class="fas fa-door-open"></i>
    </button>
</div>

<hr>

<div *ngFor = "let f of favouriteWines">
    <div class="row">
        <div class="col-4 d-flex justify-content-center">
            <img *ngIf = "f.digitalOceanKey !== 'undefined'" src="https://lol-bucket.ams3.digitaloceanspaces.com/{{f?.digitalOceanKey}}" class="img-thumbnail img-fluid" width="15%">
        </div>
        <div class="col-8">
            <a (click) = "getWineDetails(f.wineID)" class="list-group-item list-group-item-action list-group-item-primary">      
                <h3>{{ f.wineName }}</h3>    
            </a>
            <button type="button" class="btn btn-danger" (click)="deleteSavedWine(f.ID)">Delete</button>    
        </div>
    </div>
    <hr>
</div>

<!-- <button type="button" class="btn btn-primary mx-2" [routerLink] = "['/home']">Home</button> -->